*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */

}

.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 10px;
  margin-top: 20px;
}

.box{
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
  /* background-color: rgb(4, 7, 76); */
  width: 55%;
}

 h1{
  font-size: 45px;
  text-align: center;
 }

 input[type=text] {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #E91E63;
	background: rgba(#E91E63, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #E91E63;
}

input[type=checkbox] {
	appearance: none;
  background-color: #fff;
  margin: 0;
	font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #E91E63;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
	display: grid;
  place-content: center;
	&::before {
		content: "";
		width: 0.65em;
		height: 0.65em;
		transform: scale(0);
		transition: 120ms transform ease-in-out;
		box-shadow: inset 1em 1em #E91E63;
		background-color: CanvasText;
		clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
		transform-origin: left top;
	}
	&:checked::before {
		transform: scale(1);
	}
}


.copy{
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  line-height: 10px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

.pswd{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin: 25px;
}

.ranges{
  display: flex;
  justify-content: center;
  gap: 10px;
}